@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 300;
    color: black;
}

.wrapper {
    background: url(../images/main-img.jpg) center center no-repeat fixed;
    background-size: cover;
    background-color: black;
    height: 100vh;
}

a h1 {
    float: left;
    line-height: 90px;
    padding-left: 20px;
}

i {
    color: white;
    padding-left: 10px;
}

.navbar {
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) ;
}

.navbar ul {
    float: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    line-height: 90px;
    padding-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
}

#logo {
    text-align: center;
    font-size: 200%;
    text-decoration: none;
    color: white;
}

#info-box {
    color: white;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    margin-top: 400px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

#info-box > h2 {
    padding: 5px;
    font-size: 200%;
}

#info-box > h3 {
    padding: 5px;
}

#info-box button {
    background-color: rgba(220, 41, 41, 0.7);
    padding: 0.75rem;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.icons {
    text-align: center;
}

.icons > li {
    display: inline-block;
}

.icons i {
    font-size: 150%;
    padding: 0 10 0 10;
    margin: 5%;
    line-height: 90px;
    justify-content: space-evenly;
}

.about {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    margin-top: 400px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

#join {
    background-color: rgba(220, 41, 41, 0.7);
    padding: 0.75rem;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}